#lista_flash{
	float: left;
	position: absolute;
	width: 195px;
	height: 96px;
}

#lista_flash ul li{list-style: none; padding: 0; margin: 0; float: left; position: absolute;}

.hide { display: none }
#black {
	width: 100%;
	height: 100px;
	background: black;
}

.clear{
	clear: both;
}

#menu_direita{
	float: right;
	width: 80%;
	height: 100px;
	background: green;
}
